<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="POST">
        제목: <input type="text" name="title"><br>
        후보자: <input type="text" name="candidates"><br>
        선거권자: <input type="text" name="electorates"><br>
        시작날짜: <input type="datetime-local" name="begin_date"><br>
        종료날짜: <input type="datetime-local" name="end_date"><br>
        투표 제한 수: <input type="text" name="limit"><br>
        <input type="submit" value="입력"><br>
    </form>
</body>
</html>